/* ----------------------------------------------------------------------------
 * podstyle.css
 * ----------------------------------------------------------------------------
 * Copyright 2003 YMIRLINK,Inc.
 * ----------------------------------------------------------------------------
 * $Id: podstyle.css,v 1.1 2003/07/19 11:49:57 hio Exp $
 * ------------------------------------------------------------------------- */

body
{
  background-color: white;
  color: black;
}


.block
{
  background-color: #cccccc;
}
.block .en
{
  background-color: transparent;
}

.toc
{
  border: 1px solid 
}

/* ---------------------------------------------------------------------------
 *
 */
.en
{
  color: gray;
  background-color: mintcream;
}
.en .iseq_C
{
}

/* ---------------------------------------------------------------------------
 *
 */
.ja
{
}
.iseq_C
{
  color: seagreen;
  padding-left: 2px;
  padding-right: 2px;
}

/* ---------------------------------------------------------------------------
 *
 */
pre
{
  background-color: #eeeeee;
  border: 1px solid #888888;
  color: black;
  white-space: pre;
}
pre .en
{
  color: gray;
  background-color: #eeeeee;
}

/* ----------------------------------------------------------------------------
 * End Of File.
 * ------------------------------------------------------------------------- */
